
.chkbox {
    display:none;
}
.chk_label {
    border:solid 0.2rem deepskyblue;
    border-radius:0.25rem;
    padding:0.2rem;
    cursor:pointer;
    transition:0.2s;
}
input[type="checkbox"].chkbox:checked + .chk_label{
    background:deepskyblue;
    transition:0.2s;
}
.search_result {
    max-height:20rem;
    overflow-y:auto;
}


/* control area */
.control_area {
    display:block;
    padding:0.5rem 0.25rem;
    user-select: none;
}
.control_button_area {
    display:inline-block;
    position:relative;
}
.control_button {
    display:inline-block;
    width:3.5rem;
    margin:0 0.25rem;
    border:solid 0.2rem deepskyblue;
    border-radius:0.25rem;
    cursor:pointer;

    font-size:2rem;
    text-align:center;

    transition:0.2s;
}
.control_button:hover {
    background:deepskyblue;
    transition:0.2s;
}
.control_button:active {
    background:white;
    transition:0.2s;
}
.control_tool_tip_topright {
    word-break:keep-all;
    white-space: nowrap;
    display:none;
    position:absolute;

    top:-0.25rem;
    left:0.5rem;
    transform:translateY(-100%);

    font-size:0.85rem;
    color:white;
    background:rgba(0,0,0,0.8);
    padding:0.5rem;
    border-radius:0.25rem;
}
.control_button:hover + .control_tool_tip_topright {
    display:block;
}

.control_button_success { border-color:forestgreen; }
.control_button_success:hover { background:forestgreen; }
.control_button_success:active { background:white; }

.control_button_danger { border-color:crimson; }
.control_button_danger:hover { background:crimson; }
.control_button_danger:active { background:white; }


/* modal */

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}
.modal_content{
    position:relative;
    top: calc(50% + 1.5rem);
    left: 50%;
    transform: translate(-50%,-50%);
    max-width:90vw;
    width:500px;
    height:85vh;
    overflow:auto;
    background:white;
}
.config_body {
    padding:1rem;
}

.config_row {
    display:flex;
    justify-content:center;
    align-items:center;
}
.config_label {
    width:70%;

}
.config_button {
    width:30%;

    display:flex;
    justify-content:center;
    align-items:center;
}


/* chk button*/
.chk_btn {
    display:none;
}
.and_or_label {
    display:inline-block;
    position:relative;
    width:6rem;
    height:2rem;
    margin:0;
    background:#444;
    transition:0.2s;
    cursor:pointer;
    box-shadow:4px 0 4px -2px #000 inset, 0 4px 4px -2px #000 inset;
}
.and_or_label:before {
    content:"OR";
    font-weight:bold;
    color:white;
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background:royalblue;
    transition:0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:4px 0 2px -2px #000;
}
input[type="checkbox"].chk_btn:checked + label.and_or_label:before{
    content:"AND";
    left:50%;
    background:crimson;
    box-shadow:none;
}
